{% extends 'utd_base.html' %}

{% block content %}


{% if recv.auth_to_view != 'X' %}
  <p class="error">
    You are not authorized to view this page.
  </p>

{% else %}

    {% if recv.return_code %}
        <p class="error">
        {{ recv.return_msg }} ({{recv.return_code}})
        </p>

    {% endif %}

    {% if messages %}
        <ul class="success">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="left_column">

        <fieldset>
        <legend>Credential Information:</legend>
            <p><span class="bold">Name:</span> {{ recv.name }}</p>
            <p><span class="bold">EID:</span>  {{ recv.eid }}</p>
            <p><span class="bold">Credential Type:</span>  {% if recv.type == 'CT'%}Certificate{% elif recv.type == 'MN'%}Minor{%  endif %}</p>
            <p><span class="bold">Credential Code:</span>  {{ recv.credential_code }}</p>
            <p><span class="bold">Credential Description:</span>  {{ recv.credential_desc_long }}</p>
            {% if not display_as_static and recv.auth_to_edit %}

                <form action="{% url 'credential_by_doc_nbr' doc_nbr=recv.doc_nbr %}" method="post">{% csrf_token %}

                    <div>
                        <span class="bold"><label for="effective_ccyys">Effective CCYYS:</label></span>
                        <input name="effective_ccyys" id="effective_ccyys"
                               {% if effective_ccyys != '0' %}value="{{ effective_ccyys }}"{% endif %}
                               size="5" maxlength="5" />
                    </div>

                     <div>
                         <label for="status" class="bold">Status:</label>
                         <select name="status" id="status">
                             <option value="" {% if status == ' ' %}
                                 selected="selected"{% endif %}>&nbsp;</option>
                             <option value="A" {% if status == 'A' %}
                                 selected="selected"{% endif %}>Approved</option>
                             {% if recv.type == 'CT' %}
                                 <option value="S" {% if status == 'S' %}
                                     selected="selected"{% endif %}>Coursework Satisfied</option>
                                 <option value="L" {% if status == 'L' %}
                                     selected="selected"{% endif %}>Coursework Satisfied - Late Add</option>
                             {%  endif %}
                             {% if recv.is_reg_admin %}
                                 <option value="C" {% if status == 'C' %}
                                     selected="selected"{% endif %}>Conferred</option>
                             {% endif %}
                             <option value="E" {% if status == 'E' %}
                                 selected="selected"{% endif %}>Expired</option>
                         </select>
                     </div>

                    <div>
                    <span class="bold">Catalog Begin

                        <label for="catalog_beg_ccyy">Year:</label></span>
                        <input name="catalog_beg_ccyy" id="catalog_beg_ccyy"
                               {% if catalog_beg_ccyy != '0' %}value="{{ catalog_beg_ccyy }}"{% endif %}
                               size="4" maxlength="4" />
                        <span class="bold">End:</span> {% if recv.catalog_end_ccyy != 0 %}{{ recv.catalog_end_ccyy }}{%  endif %}

                    </div>


                    {% if recv.type == 'CT' %}
                    <div>

                        <span class="bold"><label for="coursework_satisfied_ccyys">Coursework Satisfied CCYYS:</label></span>
                        <input name="coursework_satisfied_ccyys" id="coursework_satisfied_ccyys"
                               {% if coursework_satisfied_ccyys != '0' %}value="{{ coursework_satisfied_ccyys }}"{% else %}value=""{% endif %}
                               size="5" maxlength="5" />

                    </div>
                    {% endif %}

                    <div>
                    {% if recv.is_reg_admin %}
                        <span class="bold"><label for="conferred_ccyys">Conferred CCYYS:</label></span>
                        <input name="conferred_ccyys" id="conferred_ccyys"
                               {% if conferred_ccyys != '0' %}value="{{ conferred_ccyys }}"{% endif %}
                               size="5" maxlength="5" />
                    {% else %}
                        <p><span class="bold">Conferred CCYYS:</span> {% if recv.conferred_ccyys != '0' %} {{ recv.conferred_ccyys }}{%  endif %}</p>
                    {% endif %}
                    </div>

                    <div>
                        <span class="bold"><label for="comments">Add Comment:</label></span>
                        <textarea name="comments" id="comments" rows="6" cols="40"  maxlength="250"></textarea>
                    </div>

                    <div class = submit>
                        <input type="submit" name="submit" id="submit" value="Update" />
                    </div>


                </form>


            {% else %}
                <p><span class="bold">Status:</span> {% if recv.status == 'A'%}Approved{% elif recv.status == 'E' %}Expired{% elif recv.status == 'C' %}Conferred{% elif recv.status == 'S' %}Coursework Satisfied{% elif recv.status == 'L' %}Coursework Satisfied - Late Add{% endif %}</p>
                <p><span class="bold">Catalog:</span> {% if recv.catalog_beg != 0 %} {{ recv.catalog_beg_ccyy }}-{{ recv.catalog_end_ccyy }}{% endif %}</p>
                <p><span class="bold">Effective CCYYS:</span>{% if recv.effective_ccyys != '0' %} {{ recv.effective_ccyys }}{% endif %}</p>
                {% if recv.type == 'CT' %}
                <p><span class="bold">Coursework Satisfied CCYYS:</span> {% if recv.coursework_satisfied_ccyys != '0' %}{{ recv.coursework_satisfied_ccyys }}{%  endif %}</p>
                {%  endif %}
                <p><span class="bold">Conferred CCYYS:</span> {% if recv.conferred_ccyys != '0' %} {{ recv.conferred_ccyys }}{%  endif %}</p>

            {%  endif %}



    </div>

    <div class="right_column">
        <div>
            <fieldset>
                <legend>Approval Information:</legend>
                <p><span class="bold">Created By:</span> {{ recv.created_name }} ({{ recv.created_id }})</p>
                <p><span class="bold">Created Date:</span> {{ recv.created_date }}</p>
                {% if recv.type == 'CT' %}
                <p><span class="bold">Coursework Satisfied By:</span> {% if recv.coursework_satisfied_name %}{{ recv.coursework_satisfied_name }} ({{ recv.coursework_satisfied_id }}) {% endif %}</p>
                <p><span class="bold">Coursework Satisfied Date:</span> {{ recv.coursework_satisfied_date }}</p>
                {% endif %}
                <p><span class="bold">Conferred By:</span> {% if recv.conferred_name %}{{ recv.conferred_name }} ({{ recv.conferred_id }}){% endif %}</p>
                <p><span class="bold">Conferred Date:</span> {{ recv.conferred_date }}</p>
            </fieldset>
        </div>

        <div>
            <fieldset>
            <legend><span class="bold">Comment History:</span></legend>
                {% for item in comment_array %}
                    <p>{{ item.comments }}</p>
                    <p class="em">by {{ item.commenter_name }} ({{ item.commenter_id }}) on {{ item.comment_date }}</p>
                {% empty %}
                    <span class="bold">No comments found.</span>
                {%  endfor %}
            </fieldset>
        </div>

        <div>
            <fieldset>
            <legend>Degree Information:</legend>

                {% for item in degree_array %}
                    <p><span class="bold">Degree Awarded:</span> {{ item.degree }}</p>
                    <p><span class="bold">Major:</span> {{ item.degree_major }}</p>
                    <p><span class="bold">Semester Awarded: </span>{{ item.degree_ccyys }}</p>
                {% empty %}
                    <span class="bold">No degrees found.</span>
                {%  endfor %}
            </fieldset>
        </div>

            <div>
            <fieldset>
            <legend>Attendance Information:</legend>

            <p><span class="bold">Last Undergrad CCYYS:</span>  {{ recv.last_undergrad_ccyys }}</p>
            <p><span class="bold">Last Pharmacy CCYYS:</span>  {{ recv.last_pharmacy_ccyys }}</p>
            </fieldset>
        </div>
    </div>
{%  endif %}


{% endblock %}

