ul
{
list-style-type: none;
}

dl
{
padding: 1.5em;
}

dt
{
float: left;
clear: left;
width: 130px;
text-align: left;
font-weight: bold;
}

dt:after
{
content: ":";
}

dd
{
margin: 0 0 0 110px;
padding: 0 0 0.25em 0;
}

table
{
border-collapse: collapse;
margin-bottom: 20px;
}

td, th
{
font-size: 1em;
border: 1px;
padding: 3px 7px 2px 7px;
vertical-align: top;
}

th
{
font-size: 1.1em;
text-align: left;
padding-top: 5px;
padding-bottom: 4px;
}

tr:nth-child(even)
{
background: #CCC
}

legend {
    font-size: 1.3em;
    font-weight: bold;
}

fieldset {
    margin: 0px 10px 10px 20px;
    padding: 10px;
}

.left_column{
    float: left;
    margin: 0px 0px 20px 0px;
    width: 45%;
}

.right_column{
    float: right;
    margin: 0px 90px 20px 0px;
    width: 40%;
}

.submit{
    margin: 20px 0px 0px 0px;
}

.right_button{
    position: relative;
    left: 200px;
    bottom: 25px;
}

.bold{
    font-weight: bold;
}

.em{
    font-style: italic;
}

.report_buttons {
    margin: 20px 0px;
}
